.part-container {
    border: 2px solid #ddd;
    padding: 5px;
    font-family: calibri
}

.part-legend {
    margin-top: -15px;
    font-size: 16px;
    font-weight: bold;
}

.part-legend-2 {
    margin-top: -12px;
    font-size: 14px;
    font-weight: bold;
}

.part-legend-3 {
    margin-top: -10px;
    font-size: 13px;
    font-weight: bold;
}

.part-table {
    width: 100%;
    font-size: 12px;
    font-family: calibri
}

.part-table-label {
    border: none;
    margin-bottom: 0;
    font-weight: bold
}

.part-table-data {
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 0
}

.part-table-divider {
    height: 5px
}

.page-break {
    page-break-before: always
}