.part-container {
    border: 2px solid #ddd;
    padding: 5px;
    font-family: calibri
}

.part-legend {
    margin-top: -15px;
    font-size: 16px;
    font-weight: bold;
}

.part-legend-2 {
    margin-top: -12px;
    font-size: 14px;
    font-weight: bold;
}

.part-legend-3 {
    margin-top: -10px;
    font-size: 13px;
    font-weight: bold;
}

.part-table {
    width: 100%;
    font-size: 12px;
    font-family: calibri
}

.part-table-label {
    border: none;
    margin-bottom: 0;
    font-weight: bold
}

.part-table-data {
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 0
}

.part-table-data-header {
    border: 3px solid #ddd;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    margin-top: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.part-table-divider {
    height: 5px
}

.page-break {
    page-break-before: always
}

.part-element-narration {
    font-size: 12px;
    text-align: justify
}

.part-element-narration-sm {
    font-size: 10px;
    text-align: justify
}

.part-element-narration-xs {
    font-size: 9px;
    text-align: justify
}

.part-element-narration-xxs {
    font-size: 8px;
    text-align: justify
}

.part-element-narration-xxx {
    font-size: 7px;
    text-align: justify
}

.pull-left-pdf {
    float: left
}

.pull-right-pdf {
    float: right
}

.left-half-header-width {
    width: 30%;
    padding: -10px -25px
}

.mid-half-header-width {
    width: 50%;
    text-align: center;
    margin-left: 5%;
    padding-top: 0
}

.right-half-header-width {
    width: 17.5%;
    padding-top: 0
}

.left-half-width {
    width: 39%
}

.right-half-width {
    width: 59%
}

.half-width-sm {
    width: 42.5%
}

.stamp-height {
    height: 100px
}

.border-less {
    border: none
}

.text-top {
    vertical-align: top;
    text-align: justify
}

.prgp {
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify
}

.fa-pdf {
    font-family: fontawesome
}

pre {
    font-size: 12px;
    text-align: justify;
    font-family: calibri;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0
}

@page {
    header: otherpagesheader;
    footer: pagefooter;
    margin-top: 120px
}

@page :first {
    header: none;
    margin-top: 50px
}

.heda {
    text-align: right;
    font-style: italic;
    border-bottom: 2px solid #000
}

.futa {
    font-style: italic;
    border-top: 2px solid #000
}